<!--The content below is only a placeholder and can be replaced.-->
<head>
  
</head>
<app-header></app-header>
<div class="text-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Pelotazo Logo" src="../assets/img/pelotazo.jpg">
</div>
<h2>Listado de components: </h2>
<ul>
  <li>
    <h2> <a [routerLink]="['/login']" [routerLinkActive]="['seleccionado']">Login</a></h2>
  </li>
  <li>
    <h2><a [routerLinkActive]="['seleccionado']">Foro</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/somos']" [routerLinkActive]="['seleccionado']">Quienes somos</a></h2>
  </li>
</ul>

